<div class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="footer-col-3">
        <h3>SHOP</h3>
        <ul>
          <a href="/ladies">
          <li>Women</li>
        </a>
        <a href="/men">
          <li>Men</li>
        </a>
        <a href="/kids">
          <li>Kids</li>
        </a>
        </ul>
      </div>
      <div class="footer-col-3">
        <h3>CORPORATE INFO</h3>
        <ul>
          <li>Career at AESTHE</li>
          <li>About AESTHE group</li>
          <li>Sustainability</li>
          <li>Press</li>
          <li>Investor relations</li>
          <li>Corporate governance</li>

        </ul>
      </div>
      <div class="footer-col-3">
        <h3>HELP</h3>
        <ul>
          <a href="/contact">
          <li>Customer Service</li>
        </a>
          <li>My AESTHE</li>
          <li>Find a store</li>
          <li>Legal & Privacy</li>
          <a href="/contact">
          <li>Contact</li>
        </a>
        </ul>
      </div>
      <div class="footer-col-3">
        <h3>Sign up for newsletter</h3>
        <ul>
          <p>Sign up now and be the first to know about exclusive offers, latest fashion news & style tips!</p>
          <a href="#">SIGN UP &#8594;</a>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>The content of this site is copyright-protected and is the property of AESTHE Hennes & Mauritz AB. AESTHE’s
        business concept is to offer fashion and quality at the best price in a...</p>
      <a href="#">READ MORE</a>
      <img src="images/AestheLogo-black.png" alt="">
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>

</html>