
<div class="footer">
    <div class="footer-container">
      <div class="row">
        <div class="footer-col-3">
          <h3>SHOP</h3>
            <ul>
              <li>Women</li>
              <li>Men</li>
              <li>Kids</li>
            </ul>
        </div>
        <div class="footer-col-3">
          <h3>CORPORATE INFO</h3>
            <ul>
              <li>Career at H&M</li>
              <li>About H&M group</li>
              <li>Sustainability</li>
              <li>Press</li>
              <li>Investor relations</li>
              <li>Corporate governance</li>
              
            </ul>
        </div>
        <div class="footer-col-3">
          <h3>HELP</h3>
            <ul>
              <li>Customer Service</li>
              <li>My H&M</li>
              <li>Find a store</li>
              <li>Legal & Privacy</li>
              <li>Contact</li>
            </ul>
        </div>
        <div class="footer-col-3">
          <h3>Sign up for newsletter</h3>
            <ul>
              <p>Sign up now and be the first to know about exclusive offers, latest fashion news & style tips!</p>
              <a href="#">SIGN UP &#8594;</a>
            </ul>
        </div>
      </div>
      <div class="copyright">
      <p >The content of this site is copyright-protected and is the property of H & M Hennes & Mauritz AB. H&M’s business concept is to offer fashion and quality at the best price in a...</p>
      <a href="#">READ MORE</a>
      <img src="images/footer-logo.svg" alt="">
      <a href="#">INDIA  | Rs.</a>
    </div>
    </div>
  </div>

<script src="script.js"></script>
</body>
</html>