<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/AestheLogo-red.png" />
  <title>AESTHE | Online Fashion</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/2c69d5657b.js" crossorigin="anonymous"></script>

</head>

<body>

  <div class="header">
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <nav>
            <ul id="MenuItems">
              <li><a href="/contact">Customer Service</a></li>
              <img src="/images/more.svg" width="25px" alt="">
            </ul>
          </nav>
        </div>
        <nav class="first-nav">
          <ul id="MenuItems">
            <%if (locals.userData) {%>
              <li class="dropdown">
                <a href="#" class="user-name">
                  <%=locals.userData.name%>
                </a>
                <div class="dropdown-content">
                  <a href="/userProfile"><i class="fas fa-user"></i> My Profile</a>
                  <div class="divider"></div>
                  <a href="/orders"><i class="fas fa-shopping-bag"></i> My Orders</a>
                  <a href="/userProfile"><i class="fas fa-cog"></i> Settings</a>
                  <div class="divider"></div>
                  <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
              </li>
              <%} else {%>
                <a href="/signup">
                  <img src="images/account.svg" width="25px" alt="">
                </a>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Login</a></li>
                <%}%>
                  <%if(locals.userData){%>

                    <img src="images/search.svg" class="search" alt="">

                    <a href="/wishlist"><img src="images/fav.svg" width="25px" alt="">
                      <li>Favourites
                    </a></li>

                    <a href="/cart"><img src="images/bag.svg" width="25px" alt="">
                      <li>Shopping bag
                    </a></li>
                    <%}%>
          </ul>
        </nav>
      </div>
      <div class="mobile-img-logo">
          <img src="images/menu.svg" class="mobile-menu" id="nav-toggle">
          <div style="position: absolute; top: 0px; left: 70px; width: 60px;">
            <a href="/">
        <img style="width: 100px; " src="/images/AestheLogo-red.png" alt="">
      </a>
      </div>
      </div>
      <div class="second-nav-container">
        <a href="/">
          <img id="logoImage" src="/images/AestheLogo-red.png" width="50px" alt="">
        </a>
        <nav class="second-nav">
          <ul id="MenuItems">
            <li><a href="/ladies">Ladies<span>&#8594;</span></a></li>
            <li><a href="/men">Men <span>&#8594;</span></a></li>
            <li><a href="/baby">Baby<span>&#8594;</span></a></li>
            <li><a href="/kids">Kids<span>&#8594;</span></a></li>
            <li><a href="/shop">Sales<span>&#8594;</span></a></li>
          </ul>

          <form action="/search" method="post">
            <img src="images/search.svg" alt=""> <input placeholder="search products" name="query" type="text"
              class="search-input">
          </form>

        </nav>
      </div>
    </div>
  </div>

  <!-- mobile navbar -->
  <div class="mobile-navbar" id="nav-menu">
    <nav>
      <ul>
        <%if (locals.userData) {%>
          <li class="dropdown"><a href="#" class="user-name">
              <%=locals.userData.name%>
            </a>
            <div class="dropdown-content">
              <a href="/userProfile"><i class="fas fa-user"></i> My Profile</a>
              <div class="divider"></div>
              <a href="/orders"><i class="fas fa-shopping-bag"></i> My Orders</a>
              <a href="/userProfile"><i class="fas fa-cog"></i> Settings</a>
              <div class="divider"></div>
              <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
          </li>
          <%}else{%>
            <li><img src="images/account.svg">Sign in<span><i class="fa fa-times" id="hide-toggle"></i></span></li>
            <%}%>
              <li><a href="/ladies">Women <span>&#8594;</span></a></li>
              <li><a href="/men">Men <span>&#8594;</span></a></li>
              <li><a href="/baby">Baby <span>&#8594;</span></a></li>
              <li><a href="/kids">Kids <span>&#8594;</span></a></li>
              <li><a href="/shop">Sale <span>&#8594;</span></a></li>=
      </ul>
    </nav>
  </div>
