<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="images/AestheLogo-red.png"/>
  <title>AESTHE | Online Fashion</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/2c69d5657b.js" crossorigin="anonymous"></script>

</head>
<body>

  <div class="header">
    <div class="container">
      <div class="navbar" >
        <div class="logo">
          <nav>
            <ul id="MenuItems">
              <li><a href="#">Customer Service</a></li>
              <li><a href="#">NewsLetter</a></li>
              <img src="images/more.svg" width="25px" alt="">
            </ul>
          </nav>
        </div>
        <nav class="first-nav">
          <ul id="MenuItems">
            <img src="images/account.svg" width="25px"  alt="">
            <li><a href="/signup">Sign in</a></li>
            <img src="images/search.svg" class="search" alt="">
            <img src="images/fav.svg" width="25px"  alt="">
            <li><a href="#">Favourites</a></li>

            <a href="#"><img src="images/bag.svg" width="25px"  alt="">
            <li>Shopping bag(0)</a></li>
          </ul>
        </nav>
      </div>
      <div class="mobile-img-logo">
      <img src="images/menu.svg" class="mobile-menu" id="nav-toggle">
      <img src="images/logo.svg"  alt="">
    </div>
      <div class="second-nav-container" >
      <a href="">
        <img id="logoImage" src="images/AestheLogo-red.png" width="50px" alt="">
      </a>
      <nav class="second-nav">
        <ul id="MenuItems">
          <li><a href="#">Ladies<span>&#8594;</span></a></li> 
          <li><a href="#">Men <span>&#8594;</span></a></li>
          <li><a href="#">Baby <span>&#8594;</span></a></li>
          <li><a href="#">Kids <span>&#8594;</span></a></li>
          <li><a href="#">Home <span>&#8594;</span></a></li>
          <li><a href="#">Sales <span>&#8594;</span></a></li>
        </ul>
        <img src="images/search.svg"   alt=""> <input placeholder="search products" type="text" class="search-input">
      </nav>
    </div>
    </div>
  </div>

  <!-- mobile navbar -->
  <div class="mobile-navbar" id="nav-menu">
    <nav >
      <ul>
        <li><img src="images/account.svg" >Sign in<span><i class="fa fa-times" id="hide-toggle"></i></span></li>
        <li><a href="#">Women <span>&#8594;</span></a></li>
          <li><a href="#">Men <span>&#8594;</span></a></li>
          <li><a href="#">Kids <span>&#8594;</span></a></li>
          <li><a href="#">Divided <span>&#8594;</span></a></li>
          <li><a href="#">Sale <span>&#8594;</span></a></li>
          <li><a href="#">MAGAZINE <span>&#8594;</span></a></li>
          <li><a href="#">Sustainability <span>&#8594;</span></a></li>
        <li class="small-li">Customer Service</li>
        <li class="small-li">NewsLetter</li>
        <li class="small-li">Find a store</li>
        <li class="small-li">Download Android</li>
        <li class="small-li">Download iOS</li>
        <li class="small-li">Enable high-contrast mode</li>
      </ul>
    </nav>
  </div>
