<%-include("../../views/partials/user/header")%>
 <!-- small section -->
  <section class="small">
    <div class="two-text">
      <p>Become a member & get welcome bonus points</p>
      <p>Estimated delivery time: 2-7 days</p>
    </div>
    <div class="container-small" >
      <h1>Sale - Up to 50% off</h1>
      <p>Valid on selected items in stores and at hm.com while stock lasts. The assortment may differ between stores and at aesthe.com.</p>
    </div>
  </section>


  <!-- big section  -->

  <section class="big" >
    <div class="container-big">
      <div class="inside-big">
        <h1>New neutrals</h1>
        <button>SHOP NOW</button>
      </div>
    </div>
  </section>

   <!-- small section -->
   <section class="small" >
    <div class="container-small second-small-section">
      <h1>Free & flexible returns</h1>
      <p>Online returns made easier!</p>
      <button>READ MORE</button>
    </div>
  </section>


    <!-- big section  -->

    <section class="big" >
      <div class="container-big second-big-section">
        <div class="inside-big">
          <h1>Denim update</h1>
          <button>SHOP NOW</button>
        </div>
      </div>
    </section>

<!-- third big section -->

  <section class="big" >
    <div class="container-big third-big-section">
      <div class="inside-big">
        <h1>Preppy luxe</h1>
        <button>SHOP NOW</button>
      </div>
    </div>
  </section>

  
<!-- fourth big section -->

<section class="big" >
  <div class="container-big fourth-big-section">
    <div class="inside-big">
      <h1>In focus: Stripes</h1>
      <button>SHOP NOW</button>
    </div>
  </div>
</section>

  <!-- footer -->
  <%-include("../../views/partials/user/footer")%>