<%-include("../../views/partials/user/header")%>
 <!-- small section -->
  <section class="small">
    <div class="two-text">
      <p>Become a member & get welcome bonus points</p>
      <p>payment methods: UPI & Rupay</p>
    </div>
    <div class="container-small" >
      <h1>Sale - Up to 50% off</h1>
      <p>Valid on selected items in stores and at hm.com while stock lasts. The assortment may differ between stores and at hm.com.</p>
      <button>LADIES</button>
      <button>MEN</button>
      <button>KIDS</button>
      <button>DIVIDED</button>
      <button>FIND STORE</button>
    </div>
  </section>


  <!-- big section  -->

  <section class="big" >
    <div class="container-big">
      <div class="inside-big">
        <h1>Knits your way</h1>
        <p>Let's get creative with our wardrobes</p>
        <button>SHOP NOW</button>
      </div>
    </div>
  </section>

   <!-- small section -->
   <section class="small" >
    <div class="container-small second-small-section">
      <h1>Free & flexible returns</h1>
      <p>Online returns made easier!</p>
      <button>READ MORE</button>
    </div>
  </section>


    <!-- big section  -->

    <section class="big" >
      <div class="container-big second-big-section">
        <div class="inside-big">
          <h1>From bottles to fashion</h1>
          <p>Meet bottle2fashion</p>
          <button>SHOP NOW</button>
        </div>
      </div>
    </section>

       <!-- small section -->
   <section class="small" >
    <div class="container-small third-small-section">
      <h1>Download the H&M APP</h1>
      <p>For a seamless shopping experience - faster, easier, personalized!
      </p>
      <button>DOWNLOAD IOS</button>
      <button>DOWNLOAD ANDROID</button>
    </div>
  </section>
<!-- third big section -->

  <section class="big" >
    <div class="container-big third-big-section">
      <div class="inside-big">
        <h1>From bottles to fashion</h1>
        <p>Meet bottle2fashion</p>
        <button>SHOP NOW</button>
      </div>
    </div>
  </section>

  <!-- magazine section -->

  <section class="magazine">
    <div class="magazine-container">
      <div class="magazine-head">
        <h1>MAGAZINE</h1>
        <p><a href="#">READ H&M MAGAZINE</a></p>
      </div>
      <div class="magazine-body">
        <div class="magazine-card">
          <img src="images/card1.jpg" alt="">
          <p>INSIDE H&M</p>
          <h5>A study in sustainable style</h5>
          <h6>Read The Story &#8594;</h6>
        </div>
        <div class="magazine-card">
          <img src="images/card2.jpg" alt="">
          <p>INSIDE H&M</p>
          <h5>A study in sustainable style</h5>
          <h6>Read The Story &#8594;</h6>
        </div>
        <div class="magazine-card">
          <img src="images/card3.jpg" alt="">
          <p>INSIDE H&M</p>
          <h5>A study in sustainable style</h5>
          <h6>Read The Story &#8594;</h6>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <%-include("../../views/partials/user/footer")%>