<%-include(".. /../views/partials/user/header")%>

    <h1>Page Not Found</h1>
    <p>We're sorry, but the page you're looking for is currently unavailable</p>

    <%-include(".. /../views/partials/user/footer")%>