<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AESTHE - Signup</title>
    <link rel="stylesheet" href="signup.css">

</head>

<body>
    <div class="split-layout">
        <div class="left-side">
            <div class="menu-icon">☰</div>
            <nav class="top-nav">
                <a href="#">SEARCH</a>
                <a href="#">HELP</a>
            </nav>
            <div class="logo">AESTHE</div>
            <div class="login-content">
                <h1 id="txt">ENJOY THE BEST EXPERIENCE</h1>
                <p>Log in to enjoy a personalised experience and access all our services.</p>
                <a href="/login">
                    <button class="btn btn-primary">LOG IN</button>
                </a>
                <a href="/register">
                    <button class="btn btn-secondary">REGISTER</button>
                </a>
                <div class="divider">
                    <span>or</span>
                </div>
                <a href="/auth/google" style="text-decoration: none;">
                <button class="btn btn-google">
                    <img src="images/googlesignup.png" alt="Google logo" />
                    Sign in with Google
                </button>
            </a>
            </div>
        </div>
        <div class="right-side"></div>
    </div>
</body>

</html>