
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sidebarToggler = document.querySelector('.sidebar-toggler');
        var sidebar = document.getElementById('sidebar');
        var content = document.getElementById('content');

        sidebarToggler.addEventListener('click', function () {
            sidebar.classList.toggle('active');
            content.classList.toggle('active');
        });

        // Close sidebar on mobile when clicking a link
        if (window.innerWidth <= 768) {
            var sidebarLinks = document.querySelectorAll('.sidebar-link');
            sidebarLinks.forEach(function (link) {
                link.addEventListener('click', function () {
                    sidebar.classList.remove('active');
                    content.classList.remove('active');
                });
            });
        }
    });
</script>

</body>

</html>